.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* All shared styles */

.border-round {
  border-radius: 20px;
}

.text-gray {
  color: #8987a1;
}

.display-flex {
  display: flex;
}

.display-white {
  color: white;
}

.font-big {
  font-size: 1.5rem;
}

.font-orange {
  color: #e95a08;
}

.btn-primary {
  background-color: #e95a08;
  color: white;
  padding: 10px 80px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
}
/* Specific Styles */

.nav-item {
  justify-content: space-between;
  align-items: center;
  margin: 1rem 9rem;
}

.navbar {
  gap: 1.3rem;
}
.navbar :nth-child(1) {
  color: black;
  font-weight: 700;
}

.navbar :nth-child(4) {
  color: black;
  font-weight: 300;
}
.navbar a {
  text-decoration: none;
  font-size: 1.25rem;
}

.banner {
  margin: auto 150px;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.banner-description {
  color: rgba(0, 0, 0, 0.5);
  max-width: 35.6rem;
}

.item-title {
  font-size: 3rem;
  font-weight: 800;
}

.item-description {
  color: rgba(0, 0, 0, 0.5);
}

.item-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 3rem;
}
.card {
  /* max-width: 17rem; */
  text-align: center;
  /* max-width: 46rem; */
}

.item-name,
.item-price {
  font-size: 1.25rem;
}

.item-name {
  font-weight: 500;
  margin-bottom: 0;
}

.item-price {
  margin-top: 0;
}
.flower-items {
  text-align: center;
  margin: auto 8rem;
}

.lover {
  justify-content: center;
  /* align-items: center; */
  margin: 3rem 150px;
  gap: 3.8rem;
  max-height: min-content;
  max-width: 1140px;
}

.lover-title {
  margin: 0;
}

.lover-left,
.lover-right {
  width: 50%;
}

.lover-right {
  margin: 3rem auto;
}
.lover-left {
  margin: 1rem auto;
}

.list {
  margin-left: 0;
}

.badge {
  max-width: 280px;
  max-height: 280px;
  margin: -185px;
  margin-bottom: 445px;
}

.collage {
  text-align: center;
  justify-content: center;
}

.collage-title {
  margin-bottom: 1rem;
}

.decrip-div {
  justify-content: center;
}

.collage-discription {
  text-align: center;
  max-width: 55rem;
}

.cards {
  gap: 2rem;
}

.cards-left {
  gap: 20px;
}

.cards-left {
  flex-direction: column;
  width: 35%;
  height: 100%;
}

.cards-right {
  /* height: 100%; */
}

.box {
  position: relative;
}

.cards-1-div {
  top: -9rem;
  margin-bottom: -6.5rem;
}

.cards-2-div {
  top: -9rem;
}

.cards-right-div {
  top: -16rem;
  margin: 0;
  margin-bottom: -3rem;
}

.img-blur {
  filter: brightness(50%);
}

.newsletter {
  background-image: url(./B12A02-Responsive-Flowers/assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 576px;
  margin-bottom: 1rem;
}

.newsletter-title {
  color: #ffffff;
}
.inp {
  justify-content: center;
  align-content: center;
}

.inp input {
  padding: 5px 0 5px 5px;
  width: 40rem;
}

.two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.two-left,
.two-right {
  flex-direction: column;
  gap: 19px;
}

.two-left a,
.two-right a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}

.one-discription {
  color: rgba(0, 0, 0, 0.5);
  max-width: 259px;
}

.three div {
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: -5rem;
}

footer {
  gap: 13rem;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .nav-item {
    justify-content: center;
    align-items: center;
    gap: 6.7rem;
    margin: auto;
  }

  .display_none {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .banner-right img {
    margin: auto;
    width: 100%;
  }

  .flower-items {
    text-align: center;
    margin: auto;
  }

  .item-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .card img {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
    padding: 17px 0;
  }

  .lover {
    justify-content: center;
    /* align-items: center; */
    margin: 2rem auto 1rem auto;
    flex-direction: column;
  }

  .lover-left img {
    width: 100%;
    margin: 0;
  }

  .lover-left,
  .lover-right {
    width: 100%;
  }

  .collage {
    width: 100%;
    margin: auto;
  }
  .cards-left {
    flex-direction: column;
    width: 100%;
    margin-bottom: -4rem;
  }

  .cards-left img {
    width: 100%;
  }

  .cards-right img {
    width: 100%;
  }

  .cards {
    flex-direction: column;
  }

  .cards-1-div {
    top: -11.5rem;
    margin-bottom: -4rem;
  }

  .cards-2-div {
    top: -11.5rem;
  }

  .cards-right-div {
    top: -13rem;
    margin: 0;
    margin-bottom: -6rem;
  }

  .newsletter {
    flex-direction: column;
    background-size: 100% 60%;
  }

  .newsletter-title {
    font-size: 2rem;
  }
  .inp {
    justify-content: center;
    align-content: center;
  }

  .inp input {
    padding: 5px 0 5px 5px;
    width: 100%;
  }

  footer {
    gap: 5rem;
    flex-direction: column;
    margin-top: -1rem;
  }

  .two {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: -3rem;
  }
}
